@font-face {
    font-family: MyFont;
    src: url("./fonts/MerriweatherSans.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: MyFont;
    background-color: #c5c3c3;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #333;
    color: #fff;
}

#logo-image {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 5px;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}

#side-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 410px;
    margin-right: 85px;
}

#side-container div {
    display: flex;
    margin: 10px;
    justify-content: space-between;

}

#side-container button {
    justify-content: center;
    width: 60%;
    margin: 10px;
    height: 40px;
}

#side-container div input {
    margin-left: auto;
    margin-left: 5px;
    width: 16vw;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    height: 10vh;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}